{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container" style="padding-top: 30px;">
    <div class="card">
        <div class="card-body">
            <h2>Edit Secretariat {{ secr.name }}</h2>
            <!--
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}

                <input class="btn btn-primary" type="submit" value="Register">

            </div>
            -->
            <!--
            <div class="formwrapper">
              <h2 class="title">New Secretariat</h2>
              <form method="POST" action="{{ url_for('new_secretariat') }}">
                  <div class="form-field">{{ form.name.label }} {{ form.name(size=32) }}</div>
                  <div class="form-field">{{ form.location.label }} {{ form.location(size=32) }}</div>
                  <div class="form-field">{{ form.description.label }} {{ form.description }}</div>
                  <div class="form-field">{{ form.opening_hours.label }} {{ form.opening_hours }}</div>
                  {{ form.submit }}
              </form>
            </div>
            -->
            <!--
            {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            -->
            <form action="{{ url_for('edit_secretariat', id= secr.id) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=32) }}
                    </p>
                    <p>
                        {{ form.location.label }}<br>
                        {{ form.location(size=32) }}
                    </p>
                    <p>
                        {{ form.description.label }}<br>
                        {{ form.description(size=50) }}
                    </p>
                    <p>
                        {{ form.opening_hours.label }}<br>
                        {{ form.opening_hours(size=32) }}
                    </p>
                </div>


                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>

{% endblock %}