{% extends "template.html" %}
{% block content %}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('rooms') }}">Campus</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('buildings_in_campus', campus_id= building.topLevelSpace.id ) }}">{{ building.topLevelSpace.name }}</a></li>
    <li class="breadcrumb-item active">{{ building.name }}</li>
</ul>

<div>
    <h1>Floors in {{ building.name }}</h1>
    <ul class="menu">
        {% for floor in building.containedSpaces %}
            <li> <a href="{{ url_for('rooms_in_floor', floor_id = floor.id) }}">
                {{ floor.name }}
            </a></li>
        {% endfor %}
    </ul>
</div>



{% endblock %}