{% extends "template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <h2>New Secretariat</h2>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    <!--
    <form action="{{ url_for('new_secretariat') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=300) }}
        </p>
        <p>
            {{ form.opening_hours.label }}<br>
            {{ form.opening_hours(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    -->
</div>

{% endblock %}