{% extends "template.html" %}
{% block content %}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('campus') }}">Campus</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('location', id= floor.topLevelSpace.id ) }}">{{ floor.topLevelSpace.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('location', id= floor.parentSpace.id ) }}">{{ floor.parentSpace.name }}</a></li>
    <li class="breadcrumb-item active">{{ floor.name }}</li>
</ul>

<div>
    <h1>Rooms in floor {{ floor.name }}</h1>
    <ul class="menu">
        {% for room in floor.containedSpaces %}
            <li>
                <a href="{{ url_for('location', id = room.id) }}">
                {{ room.name }}
                </a>
           </li>
        {% endfor %}
    </ul>
</div>



{% endblock %}